#a{
    border-radius: 25px;
    width: 100%;
  height: auto;


}
#b{
    margin:0 auto; /* this will center the page */
    width:60%;
}
#awarness{
    text-align: center;
}
#button{
    display: flex;
    justify-content: flex-end;
  }
#expl{
    text-align: justify;
    text-justify: inter-word;
  }
  #z {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 120% 110%;
  }  
  #head{
    text-align: right;
  }
  #wind{
    border-radius: 25px;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  }
  #con{
    text-align: justify;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
  }