.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.product{
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin: 0%;
}

.rP{
    padding: 0.5rem;
}

.cardBody{
    padding: 0.5rem;
}

.imgTop{
    padding: 0.5rem;
    height: 14vw;
}

.btn-p {
    margin-right: 1rem;
    background-color: grey;
    color: honeydew;
}

.btn-secondary{
    background-color: forestgreen;
}

.card-title{
    text-align: center;
    font-weight: bolder;
    color: green;
    text-shadow: 2px 2px lightgrey;
    font-size: x-large;
}

i{
    margin-right: 0.1rem;
}

b{
    margin-left: 20rem;
}

.btn-bt{
    margin-right: 1rem;
}

hr{
    margin-block-start:0rem;
    margin-block-end:0rem;
    margin-left: 0rem;
    padding: 0rem;
}   

.m{
  margin-left: 0.7rem;
}

.dd{
    margin-left: 1rem;
}

ul{
    margin: 0rem;
    padding: 0.5rem;
}